---
import { getCollection, getEntryBySlug } from 'astro:content';
const posts = await getCollection('thoughts');
import "../../styles/global.css"
import Footer from "../../components/Footer.astro"
import Header from "../../components/Header.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Thoughts | Mohit.dev</title>
	</head>
	<body>
		<div class="bg-slate-200 dark:bg-slate-800 w-screen min-h-screen">
			<Header/>
			<div class="container mx-auto px-5 lg:px-0 lg:max-w-4xl my-10">
				<h1>Thoughts</h1>
				{

					posts.length > 0 &&
					<ol>
						{

							posts.map( ( post ) => {

								return (
									<li>
										<div>
											<a href={ "/thoughts/" + post.data.url }>
												<div>{ post.data.title }</div>
											</a>
											<div class="mt-2.5">
												<div class="text-base text-zinc-800">{ post.data.description }</div>
											</div>
										</div>
									</li>
								)

							})

						}
					</ol>

				}
				{

					posts.length === 0 &&
					<div class="italic">no posts</div>

				}
			</div>
			<Footer/>
		</div>
	</body>
</html>

