<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FullStack India - Tailwind - Animation | Mohit.dev</title>
	</head>
	<body>
		<div class="bg-slate-200 w-screen h-screen">
			<div class="container mx-auto">
				<h1 class="text-2xl font-semibold">Animation</h1>
				<div class="flex group gap-5 mt-10">
					<div class="bg-zinc-400 h-96 w-1/3 rounded overflow-hidden group-hover:w-1/4 group-hover:hover:!w-1/2 cursor-pointer transition-width ease-in duration-300 relative">
						<img
							src="https://images.unsplash.com/photo-1567788150222-c580695fa1d7?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1000&ixid=MnwxfDB8MXxyYW5kb218MHx8YmVhY2h8fHx8fHwxNjc5NzczMzQ2&ixlib=rb-4.0.3&q=80&w=1000"
							class="object-cover object-center h-full w-full"
						/>
					</div>
					<div class="bg-zinc-400 h-96 w-1/3 rounded overflow-hidden group-hover:w-1/4 group-hover:hover:!w-1/2 cursor-pointer transition-width ease-in duration-300 relative">
						<img
							src="https://images.unsplash.com/photo-1531147646552-1eec68116469?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1000&ixid=MnwxfDB8MXxyYW5kb218MHx8c2t5fHx8fHx8MTY3OTc3MzQzMA&ixlib=rb-4.0.3&q=80&w=1000"
							class="object-cover object-center h-full w-full"
						/>
					</div>
					<div class="bg-zinc-400 h-96 w-1/3 rounded overflow-hidden group-hover:w-1/4 group-hover:hover:!w-1/2 cursor-pointer transition-width ease-in duration-300 relative group/block">
						<img
							src="https://images.unsplash.com/photo-1479030160180-b1860951d696?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1000&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTY3OTc3MzQ1Nw&ixlib=rb-4.0.3&q=80&w=1000"
							class="object-cover object-center h-full w-full"
						/>
						<div class="hidden group-hover/block:inline-block absolute w-full h-full bg-zinc-900/40 top-0 left-0">
							<div class="p-5">
								<div class="text-zinc-200 text-2xl x--20">hello</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
