---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {

	const blogEntries = await getCollection('wealth');
  	return blogEntries.map(entry => ({

		params: { slug: entry.slug }, props: { entry },

  	}))

}

const { entry } = Astro.props;
const { Content } = await entry.render();
import { format } from "date-fns"
import "../../styles/global.css"
import Footer from "../../components/Footer.astro"
import Header from "../../components/Header.astro"
import PostPost from '../../components/PostPost.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={ Astro.generator } />

		<!-- Primary Meta Tags -->
		<title>Wealth - { entry.data.title } | Mohit.dev</title>
		<meta name="title" content={ "Wealth - " + entry.data.title +" | Mohit.dev" }/>
		<meta name="description" content={ entry.data.description }/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://mohit.dev/fundamentals/priority-in-life/">
		<meta property="og:title" content={ "Wealth - " + entry.data.title +" | Mohit.dev" }>
		<meta property="og:description" content={ entry.data.description }>
		<meta property="og:image" content={ entry.data.image }>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://mohit.dev/fundamentals/priority-in-life/">
		<meta property="twitter:title" content={ "Wealth - " + entry.data.title +" | Mohit.dev" }>
		<meta property="twitter:description" content={ entry.data.description }>
		<meta property="twitter:image" content={ entry.data.image }>

	</head>
	<body>
		<div class="bg-slate-200 dark:bg-slate-800 w-screen min-h-screen">
			<Header />
			<div class="container mx-auto px-5 lg:px-0 lg:max-w-4xl my-5">
				<h1 class="font-semibold text-zinc-800 text-3xl dark:text-zinc-300">{ entry.data.title }</h1>
				<div class="mt-2.5">
					<div class="text-xs text-zinc-800 dark:text-zinc-300">{ format( new Date( entry.data.publish_date ), "do MMMM yyyy" )  }</div>
				</div>
				<div class="mt-5">
					<Content/>
				</div>
				<div class="mt-2.5">
					<div class="text-sm text-zinc-800 dark:text-zinc-300">Last update</div>
					<div class="text-xs text-zinc-800 dark:text-zinc-300">{ format( new Date( entry.data.update_date ), "do MMMM yyyy" )  }</div>
				</div>
				<div class="mt-5">
					<div class="text-zinc-800 dark:text-zinc-300 font-light">Disclaimer: None of this is a financial advice but my personal opinion. Please do your own research before making any financial decision.</div>
				</div>
				<PostPost/>
			</div>
			<Footer />
		</div>

	</body>
</html>
