---
import { Content as AboutContent } from '../../../content/fullstack-india/cloudflare-workers/about.md';
import "../../../styles/global.css"
import Footer from "../../../components/Footer.astro"
import Header from "../../../components/Header.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cloudflare Workers | Mohit.dev</title>
	</head>
	<body>
		<div class="bg-slate-200 dark:bg-slate-800 w-screen min-h-screen">
			<Header/>
			<div class="container mx-auto px-5 lg:px-0 lg:max-w-4xl my-10">
                <AboutContent/>
			</div>
			<Footer/>
		</div>
	</body>
</html>

